@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

body {
    background-color: black;
    color: white;

    font-family: "Lora", serif;

    margin: 0%;
}

/* the navigation bar */
#navigation-bar {
    background-color: #101010;

    width: auto;
    height: 10vh;

    box-shadow: 0px 0px 20px #000000;

    user-select: none;
}

.navigation-bar-button {
    position: absolute;
    top: 5%;
    transform: translate(-50%, -50%);

    color: #414141;

    font-size: 24px;
    text-decoration: none;

    transition-duration: 0.2s;
}

.navigation-bar-button:hover {
    color: white;
}

#navigation-bar-announcements {
    left: 25%;
}

#navigation-bar-listen {
    left: 50%;
}

#navigation-bar-contact {
    left: 75%;
}

/* a small copyright notice */
#copyright-notice {
    position: fixed;
    left: 10px;
    bottom: 0px;

    font-size: 10px;
    
    color: #3c3c3c;
}