/*
body {
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(/assets/background.jpg);
}
*/

#album-concept {
    width: 35%;
    position: absolute;
    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;

    text-align: center;
}

#album-concept-title {
    font-size: 72px;
    font-weight: bold;

    color: white;

    margin-top: 40px;
    margin-bottom: 40px;
}

#album-concept-footer {
    font-size: 72px;
    font-weight: bold;

    color: white;

    margin-top: 40px;
    margin-bottom: 40px;
}