/* artist (buntarj & maxim gutjahr) columns */
.artist-column {
    float: left;

    width: 50%;
    height: 90vh;

    display: grid;
    align-items: center;
    justify-content: center;

    /*
    filter: brightness(60%);
    transition-duration: 0.2s;
    */

    --brightness: 50%;
}

/* 
.artist-column:hover {
    filter: brightness(100%);
}
*/

.artist-column-name {
    font-size: 36px;
    font-weight: bold;

    text-decoration: none;
    transition-duration: 0.2s;

    color: white;
}

.artist-column-name:hover {
    text-decoration: underline;
}

.artist-column-status {
    text-align: center;
}

/* individual artist columns */
#artist-column-buntarj {
    background: linear-gradient(rgba(0, 0, 0, var(--brightness)), rgba(0, 0, 0, var(--brightness))), url("/assets/buntarj.jpg");
    background-size: cover;
}

#artist-column-maxim {
    background: linear-gradient(rgba(0, 0, 0, var(--brightness)), rgba(0, 0, 0, var(--brightness))) #b2f79b;
}